
#area_files #upload {
    position: fixed;
    bottom: calc(10px + 10%);
    right: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    background-color: white;
    border: 2px blue;
    border-style: solid;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}
#upload a {
    font-size: 30pt;
    text-decoration: none;
    color: blue;
}

.file {
    margin: 10px;
    
    display: flex;
    flex-direction: row;
}
.file .icon {
    flex-grow: 0;
    height: 60px;
    width: 60px;
    border: 1px black;
    border-style: solid;
    border-radius: 5px;
    margin-right: 10px;
}
.file .infos {
    flex-grow: 1;
    line-height: 1.2;
}
.file .details {
    text-align: center;
    flex-grow: 0;
    width: 60px;
}

.file {
    cursor: pointer;
}
.icon.fav {
    position: relative;
}
.icon .fav {
    position: absolute;
    left: 35px;
    top: 35px;
}

.file .icon {
    background-image: url("../images/pdf.svg");
    border-style: none;
}
